.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffb5b5;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 0rem;
}

.icon {
  font-size: 100px;
  color: #ff0000;
}

.message {
  margin-top: 15px;
  font-size: 1.5rem;
  color: #c90000;
}

.countdown {
  font-style: italic;
  font-size: 18px;
  color: #545454;
}
